<div class="hero">
  <h1>Üdvözöl a <span>HMMM</span> Ruhabolt!</h1>
  <p>Divatos ruhák elérhető áron – Nőknek és Férfiaknak</p>
  <a routerLink="/products" class="cta-button">Fedezd fel a kínálatot</a>
</div>

<div class="categories">
  <h2>Kiemelt kategóriák</h2>
  <div class="category-list">
    <div class="category-card">
      <img
        src="https://ruhafalva.hu/img/101/ifg867/500x500/ifg867.webp?time=1684251606"
        alt="Női ruha"
      />
      <h3>Női ruhák</h3>
    </div>
    <div class="category-card">
      <img
        src="https://cdn.dresspack.hu/content/2023/09/ez396509a6351febc.jpg"
        alt="Férfi kabát"
      />
      <h3>Férfi kabátok</h3>
    </div>
  </div>
</div>
